APP_DEBUG = true
#default,console
LOG_MODE = console
#DEBUG = 100,INFO = 200,NOTICE = 250,WARNING = 300,ERROR = 400
LOG_LEVEL = 100

DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_NAME = jms_admin
DB_USER = root
DB_PASSWORD =

REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_DATABASE = 0
REDIS_PASSWORD =

UPLOAD_PATH = /var/wwwroot/jmsadmin/upload
IMG_DOMAIN = http://img.jmsadmindev.com

TOKEN_SECRET = 123456abcdef
TOKEN_EXPIRE = 3600
TOKEN_REFRESH = 1800